.project{
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.project-element {
   width: 100vw;
   max-width: 80vw;
}


.text{
    text-align: center;
    padding-top: 1rem;
}

.project-container img{
    width: 15rem;
    height: 10rem;
    margin: 0.5rem ;

}
.project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 0rem 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #c7deb9;
    box-shadow: 4px 5px 4px -2px #b8b8b8;
    text-align: justify;

}

.project-container{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size: 10px;
  }

.project-text-container{
    height: 12rem;
    width: 60%;
}


@media screen and (max-width: 426px) { /* Adjusted breakpoint for smaller devices */
    .project-container {
        flex-wrap: wrap; /* Flex wrap for smaller screens */
        overflow: auto; /* Enable overflow scrolling for smaller screens */
    }

    .project-container img {
        width: 100%; /* Makes images fill the container width */
        max-width: none; /* Ensures images take full width on smaller screens */
        margin: 0.5rem 0; /* Adjusted margin for smaller screens */
    }

    .project-text-container {
        width: 100%; /* Make text container fill the width */
    }

    /* Adjust font size for phones */
    .project-container {
        font-size: 10px;
    }
}